<div class="center jumbotron">
　<h3>
　　This is the home page for dedam_jiman
　</h3>
　<% if user_signed_in? %>
   <section>
    <%= render 'shared/post_form' %>
   </section>
   <%= "post_form" %>
  <% else %>
　 <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-lg btn-info" %>
  <% end %>
   

</div>

