<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | dedama_jiman</title>
    </head>
    <body>
        <p>
            This is the home page for dedam_jiman
        </p>
    </body>
</html>